body{
    font-family: 'Poppins', sans-serif;
}
.grediant-bg:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(29, 29, 29, 0.7);
  }

 
  @media(max-width: 576px) {
   .extra-media-quary{
     padding-bottom: 0px;
   }
    .extra-media{
        width: 100%;
        
    }
    .extra-media p {
      font-size: 12px;
      margin: 0px;
      padding-bottom: 5px;
      
    }
    .extra-media h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0px;
        
    }

    }