body{
    font-family: 'Poppins', sans-serif;
}
.grediant-bg:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(29, 29, 29, 0.7);
  }

 
  @media screen  and (max-width:767px) {
    .grediant-bg img{
      height: 350px;
    }
  }